@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --cor-background: #fff;
  --color-icones: #fff;
  --color-linhaVertical: #fff;
  --color-fonteBranca: #fff;
  --color-header: #e30613;
  --color-linhaFooter: #e30613;
  --color-borderIMG: #9a1915;
  --color-corLinha: #9a1915;
  --color-footer: #9a1915;
  --color-menu: #9a1915;
  --color-abaCheck: #9a1915;
  --color-fontePreto: #000;
  --color-aba: #e0e0e0;
  --color-quadroDicas: #c2c2c281;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #ffffffff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* início do conteúdo dicas */

.introducao {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
  margin-top: 30px;
}

#intro-content {
  max-width: 60%;
  margin-bottom: 50px;
}

.img-introducao {
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-intro {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
  margin-right: 140px;
  margin-top: 110px;
}

#intro-1 {
  margin-top: 60px;
  margin-left: 70px;
}

.titulo-intro {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
  color: #000000;
  margin-left: 9.5rem;
}

#line-text-1 {
  height: 0.2rem;
  width: 17.5%;
  background-color: var(--color-corLinha);
  margin-left: 9.5rem;
}

#line-text-2 {
  height: 0.2rem;
  width: 47%;
  background-color: var(--color-corLinha);
  margin-left: 26%;
  margin-top: 4%;
}

.dica-1 {
  display: flex;
  flex-direction: row;
}

.img-dica-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-top: 15%;
  margin-left: 45%;
}

.dica-text {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-top: 8%;
  gap: 9%;
}

.dica-text p {
  width: 84%;
  text-align: justify;
}

.intro-img {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.text-intro {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 30px;
  font-size: large;
  padding-left: 8.5%;
}

.imagem-icones {
  margin-left: 43%;
  display: inline-block;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.topo {
  display: flex;
  margin: 3rem;
  gap: 5rem;
  justify-content: center;
}

.img-card {
  width: 30rem;
  height: 20rem;
}

.text-card h2 {
  width: 30rem;
  text-align: start;
  margin-top: 2%;
}

.text-card p {
  width: 30rem;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 30px;
  font-size: large;
}

.topo2 {
  display: flex;
  margin: 3rem;
  gap: 5rem;
  justify-content: center;
}

.fim1 {
  display: flex;
  margin: 3rem;
  gap: 5rem;
  justify-content: center;
}

.fim2 {
  display: flex;
  margin: 3rem;
  gap: 5rem;
  justify-content: center;
}

.PT-img {
  width: 50rem;
}

.sociologia-dicas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lista-dicas {
  background-color: var(--color-quadroDicas);
  width: 100%;
  border-radius: 0.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.sociologia-dicas h1 {
  font-size: 27px;
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

#line-text-3 {
  height: 0.2rem;
  width: 37%;
  background-color: var(--color-corLinha);
}

/* final do conteúdo dicas */

@media screen and (max-width: 767px) {
  .PT-img {
    width: 100%;
    padding: 10px;
  }

  .titulo-intro {
    font-size: 1.5rem;
    margin-left: 0;
    text-align: center;
  }

  #line-text-1 {
    display: flex;
    margin-left: 25%;
    width: 50%;
  }

  .lista-dicas {
    width: 100%;
  }

  #line-text-3 {
    width: 50%;
    margin-top: 1.25rem;
  }

  .dica-1 {
    display: flex;
    flex-direction: column;
  }

  .img-dica-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 15%;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .sociologia-header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .logo-header {
    display: flex;
    gap: 0px;
  }

  .logo-header img {
    max-width: 100%;
    max-width: 150px;
    height: auto;
    margin: 0;
  }

  .vertical-line {
    display: none;
  }

  .links p {
    font-size: 1rem;
  }

  .lista-dicas {
    width: 100%;
  }

  .topics-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}