* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    text-decoration: none; 
    border: none;
    outline: none; 
    scroll-behavior: smooth; 
  }
  
  html {
    overflow-x: hidden; 
  }

  body{
    background-color: #ffffffff;
  }

  header{
    display: flex;
    justify-content: space-between;
    background-color: #e30613;
  }