@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --cor-background: #fff;
  --color-icones: #fff;
  --color-linhaVertical: #fff;
  --color-fonteBranca: #fff;
  --color-header: #e30613;
  --color-linhaFooter: #e30613;
  --color-borderIMG: #9a1915;
  --color-corLinha: #9a1915;
  --color-footer: #9a1915;
  --color-menu: #9a1915;
  --color-abaCheck: #9a1915;
  --color-fontePreto: #000;
  --color-aba: #e0e0e0;
}


html {
  overflow-x: hidden;
}

body {
  background-color: var(--cor-background);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
}

/* início da header/ banner/ abas */

.sociologia-header {
  display: flex;
  color: var(--color-fonteBranca);
  justify-content: space-between;
  background-color: var(--color-header);
  padding: 1rem 0;
}

.logo-header {
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-header);
}

.header-nav {
  list-style: none;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.links {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 60px;
  margin-right: 50px;

}

.links a {
  display: flex;
  color: var(--color-fonteBranca);
  font-size: 1.3rem;
  border-bottom: 3px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.links a:hover {
  transform: scale(1.2);
}

/* menu-mobile */

.menu-mobile ul{
  background-color: var(--color-menu);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 5.125rem;
  right: 0;
  width: 405px;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  margin-right: 0;
  z-index: 4;
  display: inline;
  flex-direction: column;
  gap: 0.5rem;
}

.menu-mobile.abrir ul {
  visibility: visible;
  max-height: 31.25rem;
}

.menu-mobile ul li:hover {
  background-color: #000000c4;
}

.menu-mobile ul .menu-title:hover {
  background-color: var(--color-menu);
}

.menu-mobile ul li {
  display: flex;
  padding: 10px 30px;
  font-size: 16px;
  text-align: center;
  justify-content: center;
}

.menu-mobile ul .sociologia {
  width: 30rem;
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.menu-mobile ul li div {
  width: 20.7rem;
  display: block;
}

.menu-mobile ul div {
  width: 20.7rem;
  display: block;
  border-bottom: 0 solid #ffffff;
}

.menu-mobile ul li a {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: left;
  color: var(--color-fonteBranca);
  text-decoration: none;
  border-bottom: 0.3px solid #ffffff;
  font-weight: bold;
  font-size: 1rem;
}

.menu-mobile ul li div h1 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  border-bottom: 1px solid #ffffff;
}

.menu-mobile ul li .materias {
  width: 12rem;
}

#btn-menu {
  width: 45px;
  height: 45px;
  border: 0px solid #ff0000;
  background: transparent;
  border-radius: 10px;
  right: 30px;
  top: 20px;
  cursor: pointer;
}

.linha {
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  display: flex;
  margin: 10px auto;
  position: relative;
  transform-origin: center;
  transition: .2s;
}

#btn-menu.ativo .linha:nth-child(1) {
  transform: translateY(12px) rotate(-45deg);
  background-color: #ffffff;
}

#btn-menu.ativo .linha:nth-child(3) {
  transform: translateY(-15px) rotate(45deg);
  background-color: #ffffff;
}

#btn-menu.ativo .linha:nth-child(2) {
  width: 0;
}

#menu-materias {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrow {
  width: 1rem;
  height: 1rem;
  z-index: 30;
  transform: rotate(0deg);
  transition: .3s;
}

#btn-menu2:hover,
#btn-menu3:hover,
#btn-menu4:hover,
#btn-menu5:hover,
#btn-menu6:hover,
#btn-menu7:hover,
#btn-menu8:hover,
#btn-menu9:hover,
#btn-menu10:hover,
#btn-menu11:hover,
#btn-menu12:hover {
  background-color: #000;
}

#btn-menu2.ativado .arrow, 
#btn-menu3.ativado2 .arrow,
#btn-menu4.ativado3 .arrow,
#btn-menu5.ativado4 .arrow,
#btn-menu6.ativado5 .arrow,
#btn-menu7.ativado6 .arrow,
#btn-menu8.ativado7 .arrow,
#btn-menu9.ativado8 .arrow,
#btn-menu10.ativado9 .arrow,
#btn-menu11.ativado10 .arrow,
#btn-menu12.ativado11 .arrow {
  transform: rotate(90deg);
}

#btn-menu2,
#btn-menu3,
#btn-menu4,
#btn-menu5,
#btn-menu6,
#btn-menu7,
#btn-menu8,
#btn-menu9,
#btn-menu10,
#btn-menu11,
#btn-menu12 {
  height: 10px;
  border: 0px solid #ff0000;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

#menu-menu-art ul,
#menu-menu-bio ul,
#menu-menu-ef ul,
#menu-menu-filo ul,
#menu-menu-fis ul,
#menu-menu-geo ul,
#menu-menu-his ul,
#menu-menu-ing ul,
#menu-menu-mat ul,
#menu-menu-qui ul {
  position: absolute;
  right: 0;
  background-color: var(--color-menu);
  z-index: 5;
  width: 405px;
  max-height: 0;
  transition: max-height 0.5s ease, visibility 1s ease;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  overflow: hidden;
  list-style: none;
  justify-content: left;
  gap: 0.5rem;
}

#menu-menu-soc.aberto ul{
  position: absolute;
  right: 0;
  background-color: var(--color-menu);
  z-index: 5;
  width: 405px;
  max-height: 0;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  overflow: hidden;
  list-style: none;
  justify-content: left;
  gap: 0.5rem;
}

#menu-menu-art ul{
  z-index: 20;
  top: 12rem;
}

#menu-menu-bio ul{
  z-index: 19;
  top: 14rem;
}

#menu-menu-ef ul{
  z-index: 18;
  top: 16.5rem;
}

#menu-menu-filo ul{
  z-index: 17;
  top: 18.75rem;
}

#menu-menu-fis ul{
  z-index: 16;
  top: 21.15rem;
}

#menu-menu-geo ul{
  z-index: 15;
  top: 23.2rem;
}

#menu-menu-his ul{
  z-index: 14;
  top: 26.1rem;
}

#menu-menu-ing ul{
  z-index: 13;
  top: 28.75rem;
}

#menu-menu-mat ul{
  z-index: 12;
  top: 31.5rem;
}

#menu-menu-qui ul{
  z-index: 11;
  top: 34rem;
}

#menu-menu-soc ul{
  top: 36rem;
}

.menu-menu-soc ul li,
#menu-menu-art ul li,
#menu-menu-bio ul li,
#menu-menu-ef ul li,
#menu-menu-filo ul li,
#menu-menu-fis ul li,
#menu-menu-geo ul li,
#menu-menu-his ul li,
#menu-menu-ing ul li,
#menu-menu-mat ul li,
#menu-menu-qui ul li {
  display: block;
  padding: 6px;
  font-size: 1rem;
}

.menu-menu-soc ul li div,
#menu-menu-art ul li div,
#menu-menu-bio ul li div,
#menu-menu-ef ul li div,
#menu-menu-filo ul li div,
#menu-menu-fis ul li div,
#menu-menu-geo ul li div,
#menu-menu-his ul li div,
#menu-menu-ing ul li div,
#menu-menu-mat ul li div,
#menu-menu-qui ul li div {
  display: block;
  width: 22rem;
}

#menu-menu-soc ul li a,
#menu-menu-art ul li a,
#menu-menu-bio ul li a,
#menu-menu-ef ul li a,
#menu-menu-filo ul li a,
#menu-menu-fis ul li a,
#menu-menu-geo ul li a,
#menu-menu-his ul li a,
#menu-menu-ing ul li a,
#menu-menu-mat ul li a,
#menu-menu-qui ul li a {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: left;
  color: var(--color-fonteBranca);
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
  font-weight: 600;
  margin-left: 2.5rem;
  font-size: 0.9rem;
}

#menu-menu-art.aberto2 ul,
#menu-menu-bio.aberto3 ul,
#menu-menu-ef.aberto4 ul,
#menu-menu-filo.aberto5 ul,
#menu-menu-fis.aberto6 ul,
#menu-menu-geo.aberto7 ul,
#menu-menu-his.aberto8 ul,
#menu-menu-ing.aberto9 ul,
#menu-menu-mat.aberto10 ul,
#menu-menu-qui.aberto11 ul {
  visibility: visible;
  max-height: 30.25rem;
}

/* fim menu mobile */

.vertical-line {
  height: 50px;
  width: 3px;
  background-color: var(--color-linhaVertical);
  margin: 0 20px;
  margin-right: 20px;
}

.logo-header {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-header);
  height: 50px;
}

#icones-header {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  color: var(--color-icones);
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: 5px;
}

#sesi-logo {
  margin: 0 40px;
}

.image-banner {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 45rem;
  filter: brightness(0.6);
}

.image-banner img {
  width: 100%;
  height: 100%;
}

#line {
  height: 5px;
  margin: 20px auto;
  width: 20%;
  background-color: var(--color-corLinha);
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  height: 50px;
  box-sizing: border-box;
}

#sesi-logo {
  margin-left: 10px;
  margin-right: 30px;
}

.header-nav .nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.img-content {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 5px solid var(--color-borderIMG);
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  height: 50px;
  box-sizing: border-box;
}

.topics-header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.aba-text {
  color: var(--color-fontePreto);
  text-align: center;
  justify-content: space-between;
}

.aba-item {
  background-color: var(--color-aba);
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  outline: none;
  width: 250px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  list-style: none;
  width: 100%;
}

.aba-text a,
.aba-item {
  width: 100%;
  color: var(--color-fonteBranca);
}

.aba-text-check {
  color: var(--color-fonteBranca);
  text-align: center;
}

.aba-item-check {
  background-color: var(--color-abaCheck);
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  width: 250px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  list-style: none;
  width: 100%;
}

.aba-item:hover,
.aba-item:hover * {
  background-color: var(--color-abaCheck);
  color: var(--color-fonteBranca);
}

/* final da header/ banner/ abas */


/* início do footer */

.footer-text {
  color: var(--color-fonteBranca);
}

.footer {
  background-color: var(--color-footer);
  color: var(--color-fonteBranca);
  margin-top: 50px;
}

.footer .icones {
  background-color: var(--color-linhaFooter);
}

.senai {
  width: 20%;
  display: inline-block;
  text-align: center;
  padding: 30px 0 20px 0;
  margin-left: 29%;
}

.senai h3 {
  text-align: left;
}

.senai p {
  text-align: left;
}

.sesi {
  width: 20%;
  display: inline-block;
  margin-left: 3%;
  text-align: center;
  padding: 0 0 20px 0px;
}

.sesi h3 {
  text-align: left;
}

.sesi p {
  text-align: left;
}

.footer .icones img {
  display: inline-block;
  margin-left: 25px;
}

.icones {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* final do footer */

/* Responsividade: Celular */

@media screen and (max-width: 767px) {
  .sociologia-header {
    width: 100%;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    padding: 1rem;
  }

  .vertical-line {
    display: none;
  }

  .logo-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    width: 100%;
  }

  .logo-header img {
    max-width: 100%;
    max-width: 150px;
    height: auto;
    margin: 0;
  }

  .header-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .image-banner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-banner img {
    width: 100%;
    height: auto;
  }

  .links p {
    font-size: 1rem;
  }

  .links {
    gap: 1.875rem;
  }

  .topics-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

  }

  .aba-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
  }

  .main-div-header {
    flex-direction: column-reverse;
    gap: 10px;
    padding: 0.625rem;
  }
}

/* Responsividade: Tablet */

@media screen and (max-width: 768px) and (max-width: 1023px){
  .sociologia-header {
    width: 100%;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    padding: 1rem;
  }

  .vertical-line {
    display: none;
  }

  .logo-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    width: 100%;
  }

  .logo-header img {
    max-width: 100%;
    max-width: 150px;
    height: auto;
    margin: 0;
  }

  .header-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .image-banner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-banner img {
    width: 100%;
    height: auto;
  }

  .links p {
    font-size: 1rem;
  }

  .links {
    gap: 30px;
  }

  .topics-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    width: 100%;
}

  .aba-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
  }

  .main-div-header {
    flex-direction: column-reverse;
    gap: 0.625rem;
    padding: 2rem;
  }

  .menu-mobile ul{
    width: 100%;
    top: 12.5rem;
  }

  #menu-menu-art ul{
    top: 19rem;
  }
  
  #menu-menu-bio ul{
    width: 100%;
    top: 21.5rem;
  }
  
  #menu-menu-ef ul{
    width: 100%;
    top: 24rem;
  }
  
  #menu-menu-filo ul{
    width: 100%;
    top: 26.4rem;
  }
  
  #menu-menu-fis ul{
    width: 100%;
    top: 29rem;
  }
  
  #menu-menu-geo ul{
    width: 100%;
    top: 31.4rem;
  }
  
  #menu-menu-his ul{
    width: 100%;
    top: 34rem;
  }
  
  #menu-menu-ing ul{
    width: 100%;
    top: 37rem;
  }
  
  #menu-menu-mat ul{
    width: 100%;
    top: 39rem;
  }
  
  #menu-menu-qui ul{
    width: 100%;
    top: 42rem;
  }
  
  #menu-menu-soc ul{
    width: 100%;
    top: 43.6rem;
  }
}


@media screen and (min-width: 1024px) and (max-width: 1085px){
  .vertical-line {
    display: none;
  }
}