@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --cor-background: #fff;
    --color-icones: #fff;
    --color-linhaVertical: #fff;
    --color-fonteBranca: #fff;
    --color-header: #e30613;
    --color-linhaFooter: #e30613;
    --color-borderIMG: #9a1915;
    --color-corLinha: #9a1915;
    --color-footer: #9a1915;
    --color-menu: #9a1915;
    --color-abaCheck: #9a1915;
    --color-fontePreto: #000;
    --color-aba: #e0e0e0;
}


html {
    overflow-x: hidden;
}

body {
    background-color: var(--cor-background);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
}

.introducao {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.875rem;
    margin-top: 1.875rem;
}

#intro-content {
    max-width: 60%;
    margin-bottom: 3.125rem;
}

.img-introducao {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 0;
    margin-bottom: 10rem;
    margin-left: 68rem;
}

#img-intro {
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    object-fit: cover;
}

#intro-1 {
    margin-top: 3.75rem;
    margin-left: 70px;
}

#intro-2 {
    margin-left: 4.375rem;
    margin-top: 45px;
}


.titulo-intro {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #000000;
}

.text-intro {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: 30px;
    font-size: large;
    text-align: justify;
}

#line{
    height: 0.313rem;
    margin: 20px auto;
    width: 20%;
    background-color: var(--color-corLinha);
}

#line-text-1 {
    height: 0.2rem;
    width: 64%;
    background-color: var(--color-corLinha);
    margin-left: 0.2rem;
}

#line-text-2 {
    height: 0.2rem;
    width: 46%;
    background-color: var(--color-corLinha);
    margin-left: 0.2rem;
}

#line-text-3 {
    height: 0.2rem;
    width: 19%;
    background-color: var(--color-corLinha);
    margin-left: 0.2rem;
}



.principaisTopicos {
    margin-left: 4%;
    margin-bottom: 5%;
}

.main-content {
    justify-content: center;
    display: flex;
}

.section-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img {
    width: 25%;
    margin-bottom: 18.75rem;
    align-items: center;
}

.linha-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 12.5rem;
    margin-bottom: 3rem

}

.linha-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 12.5rem;
    margin-bottom: 2rem
}

.img-content {
    border-radius: 50%;
    width: 14rem;
    height: 14rem;
    border: 0.4rem solid var(--color-borderIMG);
}

.img-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: x-large;
    text-align: center;
    color: #000000;
}

/* Responsividade: Celular */

@media screen and (max-width: 767px) {
    .introducao {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 1.875rem;
        margin-top: 1.2rem;
    }
    
    #intro-content {
        max-width: 100%;
        margin-bottom: 3.125rem;
    }
    
    .img-introducao {
        display: flex;
        justify-content: center;
        width: 80%;
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 0;
        height: auto;
    }
    
    #img-intro {
        height: 18rem;
        width: 18rem;
        border-radius: 50%;
        object-fit: cover;
    }
    
    #intro-1 {
        margin-top: 3.75rem;
        margin-left: 1rem;
    }
    
    #intro-2 {
        margin-top: 2.813rem;
        margin-left: 1rem;
    }
    
    
    .titulo-intro {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 2rem;
        color: #000000;
    }
    
    .text-intro {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        text-align: justify;
        width: 85%;
    }
    
    #line{
        height: 0.313rem;
        margin: 20px auto;
        width: 85%;
        background-color: var(--color-corLinha);
    }    
    
    #line-text-1 {
        height: 0.2rem;
        width: 64%;
        background-color: var(--color-corLinha);
        margin-left: 0.2rem;
    }
    
    #line-text-2 {
        height: 0.2rem;
        width: 52%;
        background-color: var(--color-corLinha);
        margin-left: 0.2rem;
    }
    
    #line-text-3 {
        height: 0.2rem;
        width: 86%;
        background-color: var(--color-corLinha);
        margin-left: 0.2rem;
    }
    
    .imagem-icones {
        margin-left: 43%;
        display: inline-block;
    }
    
    .principaisTopicos {
        margin-left: 4%;
        margin-bottom: 5%;
    }
    
    .main-content {
        display: flex;
        flex-direction: column;
    }

    .section-img{
        margin-top: 4rem;
    }
    
    .img {
        width: 25%;
        align-items: center;
    }
    
    .linha-1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 3rem
    
    }
    
    .linha-2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 6rem
    }
    
    .img-content {
        border-radius: 50%;
        width: 14rem;
        height: 14rem;
        border: 0.4rem solid var(--color-borderIMG);
    }
    
    .img-text {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;
        color: #000000;
    }
}