@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --cor-background: #fff;
  --color-icones: #fff;
  --color-linhaVertical: #fff;
  --color-fonteBranca: #fff;
  --color-header: #e30613;
  --color-linhaFooter: #e30613;
  --color-borderIMG: #9a1915;
  --color-corLinha: #9a1915;
  --color-footer: #9a1915;
  --color-menu: #9a1915;
  --color-abaCheck: #9a1915;
  --color-fontePreto: #000;
  --color-aba: #e0e0e0;
  --color-quadroDicas: #c2c2c281;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #ffffffff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/*Inicio do conteúdo do notícias*/

#line-movimentos {
  height: 0.2rem;
  width: 18rem;
  background-color: var(--color-corLinha);
}

#line-sociologos {
  height: 0.2rem;
  width: 20rem;
  background-color: var(--color-corLinha);
}

#line-materias {
  height: 0.2rem;
  width: 18rem;
  background-color: var(--color-corLinha);
}

.titulo-intro-1,
.titulo-intro-2,
.titulo-intro-3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  color: #000000;
  margin-top: 3rem;
}

.main-content-carrosel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.card-slider,
.card-slider-2,
.card-slider-3 {
  overflow: hidden;
  width: 100%;
}

.cards {
  display: flex;
  transition: transform 0.5s ease;
}

.card {
  background-color: var(--cor-background);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(0.5, 0.5, 0.5, 0.5);
  overflow: hidden;
  width: 50rem;
  height: 25rem;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.card img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
}

.card h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color: var(--color-fontePreto);
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.card p {
  font-size: 0.9em;
  font-weight: 500;
  color: var(--cor-carrossel-p);
  margin-bottom: 1rem;
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem;
}

.slider-container-1,
.slider-container-2,
.slider-container-3 {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 82rem;
  overflow: hidden;
  position: relative;
  justify-content: center;
  margin-top: 2.5rem;
}

.card-slider,
.card-slider-2,
.card-slider-3 {
  overflow: hidden;
  width: 100%;
}

.cards {
  display: flex;
  transition: transform 0.5s ease;
}

.card {
  background-color: var(--cor-background);
  border-radius: 0.5rem;
  box-shadow: 0rem 0.3rem 0.3rem rgba(0.5, 0.5, 0.5, 0.5);
  overflow: hidden;
  width: 26rem;
  height: 28rem;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 1rem;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 1.3rem;
}

.slider-button,
.slider-button-2 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2em;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.prev,
.prev-2,
.prev-3 {
  left: -10px;
}

.next,
.next-2,
.next-3 {
  right: -10px;
}

.slider-button,
.slider-button-2,
.slider-button-3 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2em;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.button-noticias-1,
.button-noticias-2,
.button-noticias-3,
.button-noticias-4,
.button-noticias-5,
.button-noticias-6,
.button-noticias-7,
.button-noticias-8,
.button-noticias-9,
.button-noticias-10,
.button-noticias-11,
.button-noticias-12,
.button-noticias-13,
.button-noticias-14,
.button-noticias-15 {
  background-color: var(--color-aba);
  color: var(--color-fontePreto);
  width: 60%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 5rem;
}

.button-noticias-1:hover,
.button-noticias-2:hover,
.button-noticias-3:hover,
.button-noticias-4:hover,
.button-noticias-5:hover,
.button-noticias-6:hover,
.button-noticias-7:hover,
.button-noticias-8:hover,
.button-noticias-9:hover,
.button-noticias-10:hover,
.button-noticias-11:hover,
.button-noticias-12:hover,
.button-noticias-13:hover,
.button-noticias-14:hover,
.button-noticias-15:hover {
  background-color: var(--color-abaCheck);
  color: var(--color-fonteBranca);
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-noticias-12 {
  margin-top: 1rem;
}

/* final do conteúdo do notícias */

/* Responsividade para celulares */
@media screen and (max-width: 767px) {

  /* Linhas de divisão */
  #line-movimentos {
    height: 0.2rem;
    width: 27%;
    background-color: var(--color-corLinha);
    margin: 0 auto;
  }

  #line-sociologos {
    height: 0.2rem;
    width: 31%;
    background-color: var(--color-corLinha);
    margin: 0 auto;
  }

  #line-materias {
    height: 0.2rem;
    width: 28%;
    background-color: var(--color-corLinha);
    margin: 0 auto;
  }

  /* Títulos */
  .titulo-intro-1,
  .titulo-intro-2,
  .titulo-intro-3 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  /* Containers dos sliders */
  .slider-container-1,
  .slider-container-2,
  .slider-container-3 {
    width: 75%;
    max-width: 30rem;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 2rem;
  }

  /* Sliders */
  .cards {
    display: flex;
    transition: transform 0.5s ease;
    width: 25rem;
  }

  .card {
    width: 70%;
    max-width: 30rem;
    height: auto;
  }

  /* Botões */
  .button-noticias-1,
  .button-noticias-2,
  .button-noticias-3,
  .button-noticias-4,
  .button-noticias-5,
  .button-noticias-6,
  .button-noticias-7,
  .button-noticias-8,
  .button-noticias-9,
  .button-noticias-10,
  .button-noticias-11,
  .button-noticias-12,
  .button-noticias-13,
  .button-noticias-14,
  .button-noticias-15 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem auto;
  }
}



/* Responsividade para telas de computador (largura 1024px) */
@media screen and (max-width: 1024px) {

  /* Ajuste das linhas divisórias */
  #line-movimentos,
  #line-sociologos,
  #line-materias {
    height: 0.2rem;
    width: 40%;
    background-color: var(--color-corLinha);
    margin: 0 auto;
  }

  /* Títulos */
  .titulo-intro-1,
  .titulo-intro-2,
  .titulo-intro-3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.2rem;
  }

  /* Containers dos sliders */
  .slider-container-1,
  .slider-container-2,
  .slider-container-3 {
    width: 90%;
    max-width: 60rem;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 2rem;
  }

  /* Sliders */
  .cards {
    display: flex;
    transition: transform 0.5s ease;
  }

  .card {
    width: 20rem;
    height: 30rem;
    margin: 0 1rem;
  }

  /* Botões */
  .button-noticias-5,
  .button-noticias-6,
  .button-noticias-7,
  .button-noticias-8,
  .button-noticias-9,
  .button-noticias-10,
  .button-noticias-12,
  .button-noticias-13,
  .button-noticias-14,
  .button-noticias-15 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.2rem auto;

  }

  /* Texto dos botões */
  .button-noticias-1 {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    margin-left: 4rem;
  }

  .button-noticias-3,
  .button-noticias-2 {
    font-size: 1.2rem;
    margin-left: 4rem;
    margin-top: 2rem;
  }

  .button-noticias-4 button {
    margin-bottom: 3rem;
    margin-left: 4rem;
  }

  .button-noticias-11 {
    font-size: 1.2rem;
    margin-left: 4rem;
    margin-top: 2rem;
  }
}