@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --cor-background: #fff;
    --color-icones: #fff;
    --color-linhaVertical: #fff;
    --color-fonteBranca: #fff;
    --color-header: #e30613;
    --color-linhaFooter: #e30613;
    --color-borderIMG: #9a1915;
    --color-corLinha: #9a1915;
    --color-footer: #9a1915;
    --color-menu: #9a1915;
    --color-abaCheck: #9a1915;
    --color-fontePreto: #000;
    --color-aba: #e0e0e0;
}

html {
    overflow-x: hidden;
}


body {
    background-color: #ffffffff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
}


/* inicio section conteudo */
.conteudo-cs{
    display: flex;
    flex-direction: column;
}

/* ESTILIZAÇÃO DOS TITULOS */
.conteudo-cs .titulo-cs {
    margin-left: 10rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: xx-large;
    color: #000000;
    margin-top: 8rem;
}

#line2-cs {
    height: 0.2rem;
    width: 470px;
    background-color: var(--color-corLinha);
    margin-left: 10rem;
}

#line3-cs { 
    height: 0.2rem;
    width: 425px;
    background-color: var(--color-corLinha);
    margin-left: 10rem;
}

#line4-cs {
    height: 0.2rem;
    width: 375px;
    background-color: var(--color-corLinha);
    margin-left: 10rem;
}

#line5-cs {
    height: 0.2rem;
    width: 578px;
    background-color: var(--color-corLinha);
    margin-left: 10rem;
}

#line6-ec {
    height: 0.2rem;
    width: 816px;
    background-color: var(--color-corLinha);
    margin-left: 10rem;
}

#line7-ec {
    height: 0.2rem;
    width: 440px;
    background-color: var(--color-corLinha);
    margin-left: 10rem;
}

#line8-sb {
    height: 0.2rem;
    width: 450px;
    background-color: var(--color-corLinha);
    margin-left: 10rem;
}

#line9-sb {
    height: 0.2rem;
    width: 630px;
    background-color: var(--color-corLinha);
    margin-left: 10rem;
}

#line10-sb{
    height: 0.2rem;
    width: 540px;
    background-color: var(--color-corLinha);
    margin-left: 10rem;
}

#line11-cs {
    height: 0.2rem;
    width: 505px;
    background-color: var(--color-corLinha);
    margin-left: 10rem;
}

#line12-sb {
    height: 0.2rem;
    width: 680px;
    background-color: var(--color-corLinha);
    margin-left: 10rem;
}

#line13-sb {
    height: 0.2rem;
    width: 300px;
    background-color: var(--color-corLinha);
    margin-left: 10rem;
}

#line14-sb {
    height: 0.2rem;
    width: 180px;
    background-color: var(--color-corLinha);
    margin-left: 10rem;
}

#line15-sb {
    height: 0.2rem;
    width: 410px;
    background-color: var(--color-corLinha);
    margin-left: 10rem;
}

#line16-sb {
    height: 0.2rem;
    width: 90px;
    background-color: var(--color-corLinha);
    margin-left: 10rem;
}

#line17-sb {
    height: 0.2rem;
    width: 130px;
    background-color: var(--color-corLinha);
    margin-left: 10rem;
}

#line18-sb {
    height: 0.2rem;
    width: 225px;
    background-color: var(--color-corLinha);
    margin-left: 10rem;
}

#line19-sb {
    height: 0.2rem;
    width: 390px;
    background-color: var(--color-corLinha);
    margin-left: 10rem;
}

#line20-sb {
    height: 0.2rem;
    width: 200px;
    background-color: var(--color-corLinha);
    margin-left: 10rem;
}

/* ESTILIZAÇÃO DOS SUBTITULOS */
.conteudo-cs .subtitulo-cs {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: xx-large;
    color: #000000;
    font-size: 1.7rem;
    margin-left: 10rem;
    margin-top: 5rem;
}

.conteudo-cs .texto-cs {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: xx-large;
    color: #000000;
    font-size: 1.2rem;
    width: 65rem;
    margin-top: 2rem;
    text-align: justify;
    margin-left: 10rem;
}

/* ESTILIZAÇÃO DOS TÓPICOS */
.conteudo .subtitulo-topico1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: xx-large;
    color: #000000;
    font-size: 1.5rem;
    margin-right: 650px;
    margin-top: 5rem;
}

.conteudo .subtitulo-topico2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: xx-large;
    color: #000000;
    font-size: 1.5rem;
    margin-right: 760px;
    margin-top: 5rem;
}

.conteudo .subtitulo-topico3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: xx-large;
    color: #000000;
    font-size: 1.5rem;
    margin-right: 520px;
    margin-top: 5rem;
}

.conteudo .subtitulo-topico4 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: xx-large;
    color: #000000;
    font-size: 1.5rem;
    margin-right: 860px;
    margin-top: 5rem;
}

.conteudo .subtitulo-topico5 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: xx-large;
    color: #000000;
    font-size: 1.5rem;
    margin-right: 820px;
    margin-top: 5rem;
}

.conteudo .texto-topico {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: xx-large;
    color: #000000;
    font-size: 1.2rem;
    width: 55rem;
    margin-top: 2rem;
    text-align: justify;
    margin-right: 55px;
}

.conteudo .texto-topico2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: xx-large;
    color: #000000;
    font-size: 1.2rem;
    width: 55rem;
    margin-top: 2rem;
    text-align: justify;
    margin-right: 310px;
}

.conteudo-cs .imagem1-cs {
    width: 30rem;
    margin-top: -200px;
    margin-bottom: 100px;
}

.conteudo-cs .imagem1-cs img {
    width: 30rem;
    margin-left: 1275px;
    margin-top: -700px;
}

.conteudo-cs .imagem2-cs{
    width: 30rem;
    margin-top: -120px;
    margin-bottom: 50px;
}

.conteudo-cs .imagem2-cs img {
    width: 30rem;
    margin-left: 1275px;
    margin-top: -80rem;
}

.conteudo-cs .imagem3-cs {
    width: 30rem;
    margin-top: -50px;
}

.conteudo-cs .imagem3-cs img {
    width: 30rem;
    margin-left: 1275px;
    margin-top: -80rem;
}

.conteudo-cs .imagem4-ec {
    width: 30rem;
    margin-top: -100px;
}

.conteudo-cs .imagem4-ec img {
    width: 30rem;
    margin-left: 1275px;
    margin-top: -80rem;
}

.conteudo-cs .imagem5-ec {
    width: 30rem;
    margin-top: -100px;
}

.conteudo-cs .imagem5-ec img {
    width: 30rem;
    margin-left: 1275px;
    margin-top: -80rem;
}

.conteudo-cs .imagem6 {
    width: 30rem;
    margin-top: -80px;
}

.conteudo-cs .imagem6 img {
    width: 30rem;
    margin-left: 1275px;
    margin-top: -80rem;
}

.conteudo-cs .imagem7-sb {
    width: 30rem;
    margin-top: -80px;
}

.conteudo-cs .imagem7-sb img {
    width: 30rem;
    margin-left: 1275px;
    margin-top: -4rem;
}

.conteudo-cs .imagem8-sb {
    width: 30rem;
    margin-top: -90px;
}

.conteudo-cs .imagem8-sb img {
    width: 20rem;
    margin-left: 1275px;
    margin-top: -5rem;
}

.conteudo-cs .imagem9-st {
    width: 30rem;
    margin-top: -275px;
}

.conteudo-cs .imagem9-st img {
    width: 30rem;
    margin-left: 1275px;
}

.conteudo-cs legend {
    width: 28rem;
    margin-left: 1275px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: xx-large;
    color: #000000;
    font-size: 1rem;
    font-weight: 200;
    text-align: justify;
}


@media screen and (max-width: 767px){
    /* começo da estilização do cs */
    .conteudo-cs .titulo-cs {
        margin-left: 0;
        width: 100%;
        font-size: 1rem;
        text-align: center;
    }

    .conteudo-cs .texto-cs {
        margin-left: 0;
        width: 90%;
        text-align: justify;
        margin-left: 1.2rem;
    }
    #line2-cs, #line3-cs, #line4-cs, #line5-cs{
        width: 100%;
        margin-left: 0;
    }
    .conteudo-cs .subtitulo-cs{
        width: 100%;
        margin: 0;
        font-size: 1rem;
        text-align: center;
    }
    /* ajuste das img e o legend do cs*/
    .conteudo-cs .imagem1-cs{
        margin-left: 1.2rem;
        margin-top: 1rem;
        width: 90%;
    }
    .conteudo-cs .imagem1-cs img{
        margin-left: 1.2rem;
        margin-top: 1rem;
        width: 90%;
        border-radius: 1rem;
    }
    .conteudo-cs .imagem2-cs{
        margin-left: 1.2rem;
        margin-top: 1rem;
        width: 90%;
        border-radius: 1rem;
    }
    .conteudo-cs .imagem2-cs img{
        margin-left: 1.2rem;
        margin-top: 1rem;
        width: 90%;
    }
    .conteudo-cs .imagem3-cs{
        margin-left: 1.2rem;
        margin-top: 1rem;
        width: 90%;
        border-radius: 1rem;
    }
    .conteudo-cs .imagem3-cs img{
        margin-left: 1.2rem;
        margin-top: 1rem;
        width: 90%;
    }
    .conteudo-cs legend{
        margin-left: 1rem;
        margin-top: 0.5rem;
        width: 90%;
        text-align: justify;
    }
    /* fim da estilização do cs */
    /* começo da estilização do ec*/
    .conteudo-cs .imagem4-ec{
        margin-left: 1.2rem;
        margin-top: 1rem;
        width: 90%;

    }
    .conteudo-cs .imagem4-ec img{
        margin-left: 1.2rem;
        margin-top: 1rem;
        width: 90%;
        border-radius: 1rem;
    }
    .conteudo-cs .imagem5-ec{
        margin-left: 1.2rem;
        margin-top: 1rem;
        width: 90%;
    }
    .conteudo-cs .imagem5-ec img{
        margin-left: 1.2rem;
        margin-top: 1rem;
        width: 90%;
        border-radius: 1rem;
    }

    #line6-ec, #line7-ec{
        width: 100%;
        margin-left: 0;
    }
    /* fim da estilização do es */
    /* começo da estilização do sb */
    .conteudo-cs .imagem7-sb{
        margin-left: 1.2rem;
        margin-top: 1rem;
        width: 90%;
    }
    .conteudo-cs .imagem7-sb img{
        margin-left: 1.2rem;
        margin-top: 1rem;
        width: 90%;
        border-radius: 1rem;
    }
    .conteudo-cs .imagem8-sb{
        margin-left: 1.2rem;
        margin-top: 1rem;
        width: 90%;
    }
    .conteudo-cs .imagem8-sb img{
        margin-left: 1.2rem;
        margin-top: 1rem;
        width: 90%;
        border-radius: 1rem;
    }
    #line8-sb, #line9-sb, #line10-sb, #line11-sb, #line12-sb, #line13-sb, #line14-sb, #line15-sb, #line16-sb, #line17-sb, #line18-sb, #line19-sb, #line20-sb{
        width: 100%;
        margin-left: 0;
    }
    /* fim da estilização do sb */
    /* começo da estilização do st */
    .conteudo-cs .imagem9-st{
        margin-left: 1.2rem;
        margin-top: 1rem;
        width: 90%;
    }
    .conteudo-cs .imagem9-st img{
        margin-left: 1.2rem;
        margin-top: 1rem;
        width: 90%;
        border-radius: 1rem;
    }
}