@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --cor-background: #fff;
  --color-icones: #fff;
  --color-linhaVertical: #fff;
  --color-fonteBranca: #fff;
  --color-header: #e30613;
  --color-linhaFooter: #e30613;
  --color-borderIMG: #9a1915;
  --color-corLinha: #9a1915;
  --color-footer: #9a1915;
  --color-menu: #9a1915;
  --color-abaCheck: #9a1915;
  --color-fontePreto: #000;
  --color-aba: #e0e0e0;
  --color-quadroDicas: #c2c2c281;
  --color-quadroSimulados: #c2c2c281;
  --cor-link: #2cc3ff;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #ffffffff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* início do conteúdo do simulado */

.intro {
  margin-top: 3rem;
}

.titulo-intro {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  color: #000000;
  margin-left: 9.5rem
}

.simulado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.simulado-content {
  background-color: var(--color-quadroSimulados);
  height: auto;
  width: 93rem;
  border-radius: 0.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 2rem;
}

.simulado-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.text-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 7rem;
  gap: 5%;
}


.img-simulado {
  height: 19rem;
  width: 25rem;
  object-fit: cover;
  margin-left: 7rem;
}

.titulo-simulado {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: x-large;
  color: var(--color-fontePreto);
  white-space: nowrap;
}

.text-simulado {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: large;
  color: #000000;
  text-align: justify;
  margin-top: 2rem;
}

.text-simulado-link {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  color: var(--cor-link);
  text-align: justify;
  margin-top: 2rem;
}

#line-text-1 {
  height: 0.2rem;
  width: 11%;
  background-color: var(--color-corLinha);
  margin-left: 9.5rem
}

#line-text-2 {
  height: 0.2rem;
  width: 53%;
  background-color: var(--color-corLinha);
}

#line-text-3 {
  height: 0.2rem;
  width: 70%;
  background-color: var(--color-corLinha);
}

#line-text-4 {
  height: 0.2rem;
  width: 61%;
  background-color: var(--color-corLinha);
}

/* final do conteúdo simulado */


/* início da responsividade */
@media only screen and (max-width: 500px) {
  .intro {
    margin-top: 3rem;
    margin-left: -4rem;
  }

  .titulo-intro {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: #000000;
  }

  .intro #line-text-1{
    width: 46%;
  }

  .simulado {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .simulado-content {
    height: 100%;
    width: 80%;
  }

  .simulado-item {
    flex-direction: column;
    width: 100%;
  }

  .text-box {
    display: flex;
    flex-direction: column;
    margin-left: 35%;
  }

  .img-simulado {
    width: 60%;
    height: fit-content;
    object-fit: cover;
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .titulo-simulado {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: large;
    color: var(--color-fontePreto);
    white-space: wrap;
    margin-top: 2rem;
  }

  .text-simulado {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: medium;
    color: #000000;
    text-align: justify;
    margin-top: 2rem;
    width: 15rem;
  }

  .text-simulado-link {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    color: var(--cor-link);
    text-align: justify;
    margin-top: 2rem;
    width: 15rem;
  }


  #line-text-2 {
    width: 72%;
    margin-left: -28%;
    height: 0.2rem;
  }

  #line-text-3 {
    height: 0.2rem;
    width: 74%;
    margin-left: -25%;
  }

  #line-text-4 {
    height: 0.2rem;
    width: 74%;
    margin-left: -25%;
  }
}


/* final da responsividade */