@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root{
  --cor-background: #fff;
  --color-icones: #fff;
  --color-linhaVertical: #fff;
  --color-fonteBranca: #fff;
  --color-header: #e30613;
  --color-linhaFooter: #e30613;
  --color-borderIMG: #9a1915;
  --color-corLinha: #9a1915;
  --color-footer: #9a1915;
  --color-menu: #9a1915;
  --color-abaCheck: #9a1915;
  --color-fontePreto: #000;
  --color-aba: #e0e0e0;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #ffffffff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
}

/* início do conteúdo sobre-nós */

.sobre-nos .titulo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.sobre-content h1 {
  color: var(--color-fontePreto);
  font-family: "Montserrat", sans-serif;
}

#line-1 {
  height: 0.2rem;
  width: 9.5rem;
  background-color: var(--color-corLinha);
}

.sobre-content p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 1.8rem;
  font-size: large;
  text-align: justify;
  width: 45%;
}

.sobre-content {
  margin-left: 10%;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.img-equipe {
  display: flex;
  justify-content: flex-end;
}

#fotoEquipe {
  height: 23rem;
  width: auto;
  margin-right: 14rem;
  margin-top: -17rem;
  border-radius: 5%;
}

.participantes {
  display: flex;
  flex-direction: column;
}

.titulo-participantes {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  font-style: normal;
  color: var(--color-fontePreto);
  justify-content: center;
  display: flex;
  margin-right: 0.12rem;
  margin-bottom: 2.5rem;
}

#line-2 {
  height: 0.2rem;
  width: 13%;
  background-color: var(--color-corLinha);
  margin: 0.9rem auto;
  margin-top: -2.5rem;
}

.participante-esq {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 1.6rem;
  margin-left: 10rem;
  align-self: flex-start;
}

.participante-dir {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  margin-bottom: 0.6rem;
  margin-right: 10rem;
  align-self: flex-end;
}

.info-participante-esq {
  justify-content: center;
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  align-self: center;
}

.info-participante-dir {
  justify-content: center;
  width: 50%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.foto-participante-dir {
  margin-left: 3rem;
  width: 18rem;
  height: auto;
  border-radius: 100%;
  align-self: flex-end;
}

.foto-zani {
  margin-right: 10rem;
}

.foto-participante-esq {
  margin-right: 50px;
  width: 18rem;
  height: auto;
  border-radius: 100%;
  align-self: flex-start;
}

.title-info-esq {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--color-fontePreto);
  white-space: nowrap;
  position: absolute;
  text-align: left;
  margin-bottom: 6rem;
  padding-bottom: 0.5rem;
  width: 18rem;
  padding-top: 0rem;
  align-self: flex-start;
}

.title-info-dir {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--color-fontePreto);
  white-space: nowrap;
  position: absolute;
  margin-left: 17rem;
  margin-bottom: 8rem;
  padding-bottom: 7rem;
  width: 18rem;
  padding-top: 2.5rem;
  align-self: flex-end;
  margin-right: 4rem;
}

.title-info-dir-2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--color-fontePreto);
  white-space: nowrap;
  position: absolute;
  margin-right: 9.3rem;
  margin-bottom: 2rem;
  padding-bottom: 6rem;
  width: 18rem;
  padding-top: 2.5rem;
  align-self: flex-end;

}

.info-esq {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  margin-top: 4rem;
  align-self: flex-start;
  text-align: justify;
}

.info-dir {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  margin-top: 4rem;
  align-self: flex-end;
  text-align: justify;
  margin-right: -1.8rem;
}

.title-align {
  position: absolute;
  text-align: center;
}

#line-3-laura {
  height: 0.2rem;
  width: 21rem;
  background-color: var(--color-corLinha);
  margin-top: 5rem;
}

#line-3-evelyn {
  height: 0.2rem;
  width: 27.5rem;
  background-color: var(--color-corLinha);
  margin-top: 6.3rem;
  margin-left: 32rem;
}

#line-3-bruna {
  height: 0.2rem;
  width: 24.5rem;
  background-color: var(--color-corLinha);
  margin-top: 3.5rem;
}

#line-3-zani {
  height: 0.2rem;
  width: 22rem;
  background-color: var(--color-corLinha);
  margin-top: -1rem;
  margin-left: 37.5rem;
}

#line-3-luiz {
  height: 0.2rem;
  width: 27.5rem;
  background-color: var(--color-corLinha);
  margin-top: 3.7rem;
}

/* final do conteúdo sobre-nós */


/* RESPONSIVIDADE PARA TABLET */
@media screen and (max-width: 1023px) and (min-width: 957px) {
  /* CONTEÚDO */
  .sobre-nos .titulo{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #line-1{
    width: 10rem;
  }

  .sobre-content{
    margin-top: -1rem;
  }
  
  .sobre-content p{
    margin-top: 5rem;
    margin-left: -3rem;
  }

  .sobre-content{
    display: flex;
    flex-direction: column;
  }

  .sobre-content .img-equipe{
    display: flex;
    justify-content: start;
    margin-left: 27rem;
    margin-top: -3.5rem;
  }
  
  .sobre-content .img-equipe #fotoEquipe{
    width: 27rem;
    height: auto;
  }
  
  /* FIM DE CONTEÚDO */

  /* PARTICIPANTES */
  .participantes #line-2{
    width: 16rem;
  }

  .participantes .participante-esq{
    margin-left: 4rem;
  }

  .participante-esq .info-participante-esq #line-3-laura{
    width: 21rem;
    margin-top: 10rem;
  }
  
  .participante-esq .info-participante-esq #line-3-bruna{
    width: 24.5rem;
    margin-top: 7.5rem;
  }
  
  .participante-esq .info-participante-esq #line-3-luiz{
    width: 27.5rem;
    margin-top: 6rem;
  }
  
  .participantes .participante-dir{
    margin-right: 4rem;
  }
  
  .participante-dir .info-participante-dir #line-3-evelyn{
    width: 27.5rem;
    margin-top: 11rem;
    margin-left: 4.5rem;
  }
  
  .participante-dir .info-participante-dir #line-3-zani{
    width: 22rem;
    margin-top: 3rem;
    margin-left: 9.5rem;
  }
  /* FIM DE PARTICIPANTES */
}
/* FIM DA RESPONSIVIDADE PARA TABLET */


/* RESPONSIVIDADE PARA CELULAR */
@media screen and (max-width: 767px) and (min-width: 320px){
  #line{
    width: 100%;
  }

  .sobre-nos{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #line-1{
    width: 36%;
  }

  .sobre-content{
    width: 80%;
    margin-top: -1%;
  }

  .sobre-content p{
    width: 100%;
  }

  .sobre-content .img-equipe{
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 0;
    height: 20rem;
  }

  .sobre-content .img-equipe #fotoEquipe{
    width: 25rem;
    height: 20rem;
    margin-right: 0;
    margin-top: 15%;
  }

  #line-2{
    width: 40%;
  }

  .participantes{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .participante-esq, .participante-dir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .foto-participante-esq, .foto-participante-dir{
    width: 15rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 23%;
    margin-right: 23%;
  }
  
  .info-participante-esq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-left: -37%;
  }
  
  .info-participante-dir{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    width: 39.25rem;
    margin: 0;
    margin-left: -10rem;
  }
  
  .info-participante-dir hr{
    margin-right: -10rem;
  }

  .info-participante-esq .info-esq, .info-participante-dir .info-dir{
    width: 25rem;
  }

  .info-participante-esq, .info-participante-dir{
    display: flex;
    flex-direction: column;
  }

  .participante-dir{
    width: 30rem;
    margin-right: 3rem;
}

.participante-esq .info-participante-esq #line-3-laura{
  width: 20.5rem;
  margin-top: 10.5rem;
  margin-left: 2rem;
  margin-bottom: -2rem;
}

.participante-esq .info-participante-esq #line-3-bruna{
  width: 24.2rem;
  margin-top: 8rem;
  margin-left: 5.5rem;
  margin-bottom: -2rem;
}

.participante-esq .info-participante-esq #line-3-luiz{
  width: 27.3rem;
  margin-top: 5.5rem;
  margin-left: 9rem;
  margin-bottom: -2rem;
}

.participantes .participante-dir{
  margin-right: 4rem;
}

.participante-dir .info-participante-dir #line-3-evelyn{
  width: 27.5rem;
  margin-top: 15rem;
  margin-left: 12rem;
}

.participante-dir .info-participante-dir #line-3-zani{
  width: 22rem;
  margin-top: 5.5rem;
  margin-left: 17.2rem;
}
  
}
/* FIM DA RESPONSIVIDADE PARA CELULAR */