@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root{
  --cor-background: #fff;
  --color-icones: #fff;
  --color-linhaVertical: #fff;
  --color-fonteBranca: #fff;
  --color-header: #e30613;
  --color-linhaFooter: #e30613;
  --color-borderIMG: #9a1915;
  --color-corLinha: #9a1915;
  --color-footer: #9a1915;
  --color-menu: #9a1915;
  --color-abaCheck: #9a1915;
  --color-fontePreto: #000;
  --color-aba: #e0e0e0;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #ffffffff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
}

/* início da header/ banner/ abas */

.sociologia-header {
  display: flex;
  color: var(--color-fonteBranca);
  justify-content: space-between;
  background-color: var(--color-header);
  padding: 1rem 0;
}

.logo-header {
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-header);
}

.section-img {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.img-content {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 5px solid var(--color-borderIMG);
}

.header-nav {
  list-style: none;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.links {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 60px;
  margin-right: 50px;

}

.links a {
  display: flex;
  color: var(--color-fonteBranca);
  font-size: 1.3rem;
  border-bottom: 3px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.vertical-line {
  height: 50px;
  width: 3px;
  background-color: var(--color-linhaVertical);
  margin: 0 20px;
  margin-right: 20px;
}

.logo-header {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-header);
  height: 50px;
}

#icones-header {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  color: var(--color-icones);
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: 5px;
}

#sesi-logo {
  margin: 0 40px;
}

.image-banner {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 45rem;
  filter: brightness(0.6);
}

.image-banner img {
  width: 100%;
  height: 100%;
}

#line {
  height: 5px;
  margin: 20px auto;
  width: 20%;
  background-color: var(--color-corLinha);
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  height: 50px;
  box-sizing: border-box;
}

#sesi-logo {
  margin-left: 10px;
  margin-right: 30px;
}

.header-nav .nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.img-content {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 5px solid var(--color-borderIMG);
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  height: 50px;
  box-sizing: border-box;
}

.alinhamento {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 200px;
  padding: 100px;
}

.topics-header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.aba-text {
  color: var(--color-fontePreto);
  text-align: center;
  justify-content: space-between;
}

.aba-item {
  background-color: var(--color-aba);
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  outline: none;
  width: 250px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  list-style: none;
  width: 100%;
}

.aba-text a,
.aba-item {
  width: 100%;
  color: var(--color-fonteBranca);
}

.aba-text-check {
  color: var(--color-fonteBranca);
  text-align: center;
}

.aba-item-check {
  background-color: var(--color-abaCheck);
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  width: 250px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  list-style: none;
  width: 100%;
}

.aba-item:hover,
.aba-item:hover a {
  background-color: var(--color-abaCheck);
  color: var(--color-fonteBranca);
}


/* final da header/ banner/ abas */

/* início do conteúdo sobre-nós */

.sobre-content h1 {
  color: var(--color-fontePreto);
  font-family: "Montserrat", sans-serif;
}

#line-1 {
  height: 0.2rem;
  width: 8.8%;
  background-color: var(--color-corLinha);
}

.sobre-content p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 1.8rem;
  font-size: large;
  text-align: justify;
  width: 45%;
}

.sobre-content {
  margin-left: 10%;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.img-equipe {
  display: flex;
  justify-content: flex-end;
}

#fotoEquipe {
  height: 23rem;
  width: auto;
  margin-right: 14rem;
  margin-top: -17rem;
  border-radius: 5%;
}

.participantes {
  display: flex;
  flex-direction: column;
}

.titulo-participantes {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  font-style: normal;
  color: var(--color-fontePreto);
  justify-content: center;
  display: flex;
  margin-right: 0.12rem;
  margin-bottom: 2.5rem;
}

#line-2 {
  height: 0.2rem;
  width: 16%;
  background-color: var(--color-corLinha);
  margin: 0.9rem auto;
  margin-top: -2.5rem;
}

.participante-esq {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 1.6rem;
  margin-left: 10rem;
  align-self: flex-start;
}

.participante-dir {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  margin-bottom: 0.6rem;
  margin-right: 10rem;
  align-self: flex-end;
}

.info-participante-esq {
  justify-content: center;
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  align-self: center;
}

.info-participante-dir {
  justify-content: center;
  width: 50%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.foto-participante-dir {
  margin-left: 3rem;
  width: 18rem;
  height: auto;
  border-radius: 100%;
  align-self: flex-end;
}

.foto-zani {
  margin-right: 10rem;
}

.foto-participante-esq {
  margin-right: 50px;
  width: 18rem;
  height: auto;
  border-radius: 100%;
  align-self: flex-start;
}

.title-info-esq {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--color-fontePreto);
  white-space: nowrap;
  position: absolute;
  text-align: left;
  margin-bottom: 6rem;
  padding-bottom: 0.5rem;
  width: 18rem;
  padding-top: 0rem;
  align-self: flex-start;
}

.title-info-dir {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--color-fontePreto);
  white-space: nowrap;
  position: absolute;
  margin-left: 17rem;
  margin-bottom: 8rem;
  padding-bottom: 7rem;
  width: 18rem;
  padding-top: 2.5rem;
  align-self: flex-end;
  margin-right: 4rem;
}

.title-info-dir-2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--color-fontePreto);
  white-space: nowrap;
  position: absolute;
  margin-right: 9.3rem;
  margin-bottom: 2rem;
  padding-bottom: 6rem;
  width: 18rem;
  padding-top: 2.5rem;
  align-self: flex-end;

}

.info-esq {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  margin-top: 4rem;
  align-self: flex-start;
  text-align: justify;
}

.info-dir {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  margin-top: 4rem;
  align-self: flex-end;
  text-align: justify;
  margin-right: -1.8rem;
}

.title-align {
  position: absolute;
  text-align: center;
}

#line-3-laura {
  height: 0.2rem;
  width: 43%;
  background-color: var(--color-corLinha);
  margin-top: 5.9rem;
}

#line-3-evelyn {
  height: 0.2rem;
  width: 57.2%;
  background-color: var(--color-corLinha);
  margin-top: 115px;
  margin-left: 42.7%;
}

#line-3-bruna {
  height: 0.2rem;
  width: 51%;
  background-color: var(--color-corLinha);
  margin-top: 5rem;
}

#line-3-zani {
  height: 0.2rem;
  width: 46%;
  background-color: var(--color-corLinha);
  margin-top: 0.2rem;
  margin-left: 54%;
}

#line-3-luiz {
  height: 0.2rem;
  width: 57.5%;
  background-color: var(--color-corLinha);
  margin-top: 5rem;
}

/* final do conteúdo sobre-nós */

/* início do footer */

.footer-text {
  color: var(--color-fonteBranca);
}

.footer {
  background-color: var(--color-footer);
  color: var(--color-fonteBranca);
  margin-top: 50px;
}

.footer .icones {
  background-color: var(--color-linhaFooter);
}

.senai {
  width: 20%;
  display: inline-block;
  text-align: center;
  padding: 30px 0 20px 0;
  margin-left: 29%;
}

.senai h3 {
  text-align: left;
}

.senai p {
  text-align: left;
}

.sesi {
  width: 20%;
  display: inline-block;
  margin-left: 3%;
  text-align: center;
  padding: 0 0 20px 0px;
}

.sesi h3 {
  text-align: left;
}

.sesi p {
  text-align: left;
}

.footer .icones img {
  display: inline-block;
  margin-left: 25px;
}

.icones {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* final do footer */