@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --cor-background: #fff;
  --color-icones: #fff;
  --color-linhaVertical: #fff;
  --color-fonteBranca: #fff;
  --color-header: #e30613;
  --color-linhaFooter: #e30613;
  --color-borderIMG: #9a1915;
  --color-corLinha: #9a1915;
  --color-footer: #9a1915;
  --color-menu: #9a1915;
  --color-abaCheck: #9a1915;
  --color-fontePreto: #000;
  --color-aba: #e0e0e0;
  --color-citacao: #5B5859;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #ffffffff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
}

/* início do conteúdo tópicos */

/* Textos */

.titulo-PT {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #000000;
}

.text-PT {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: justify;
  margin-top: 0.5rem;
}

/* Introdução */

.intro {
  display: flex;
  margin: 1.875rem 0;
  width: 100%;
  margin-top: 5rem;
}

.content-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-left: 7rem;
}

.intro-img {
  display: flex;
  justify-content: center;
  margin: 1.875rem 0;
  width: 40%;
}

.PT-img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  object-fit: cover;
}


/* Conteúdo */

.line-intro {
  height: 5px;
  margin: 20px auto;
  width: 85%;
  background-color: var(--color-corLinha);
  margin-bottom: 5rem;
  margin-top: 8rem;
}

.cultura,
.cidadania,
.movimentos-sociais,
.politica,
.revolucao,
.sociedade-contemporanea,
.teoria {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.content {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/* Linhas */

#line-text-1-cul {
  height: 0.2rem;
  width: 36%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-2-cul {
  height: 0.2rem;
  width: 31%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-3-cul {
  height: 0.2rem;
  width: 31%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-4-cul {
  height: 0.2rem;
  width: 19%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-1-cid {
  height: 0.2rem;
  width: 39%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-2-cid {
  height: 0.2rem;
  width: 33%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-3-cid {
  height: 0.2rem;
  width: 25%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-4-cid {
  height: 0.2rem;
  width: 25%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-1-mov {
  height: 0.2rem;
  width: 55%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-2-mov {
  height: 0.2rem;
  width: 19%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-3-mov {
  height: 0.2rem;
  width: 35%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-1-pol {
  height: 0.2rem;
  width: 36%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-2-pol {
  height: 0.2rem;
  width: 29%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-3-pol {
  height: 0.2rem;
  width: 27%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-1-rev {
  height: 0.2rem;
  width: 41%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-2-rev {
  height: 0.2rem;
  width: 40%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-3-rev {
  height: 0.2rem;
  width: 26%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-1-soc {
  height: 0.2rem;
  width: 67%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-2-soc {
  height: 0.2rem;
  width: 54%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-1-teo {
  height: 0.2rem;
  width: 34%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
  margin-bottom: 2rem;
}

#line-text-2-teo {
  height: 0.2rem;
  width: 34%;
  background-color: var(--color-corLinha);
  margin-left: 0.1rem;
}

/* Responsividade: Desktop */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .intro {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
  }

  .content-intro {
    width: 70%;
    margin-left: 5rem;
  }

  .intro-img {
    width: 40%;
  }

  .PT-img {
    width: 16rem;
    height: 16rem;
  }

  .container {
    width: 90%;
  }

  /* Linhas */

  #line-text-1-cul {
    height: 0.2rem;
    width: 51%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-2-cul {
    height: 0.2rem;
    width: 44%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-3-cul {
    height: 0.2rem;
    width: 44%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-4-cul {
    height: 0.2rem;
    width: 27%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-1-cid {
    height: 0.2rem;
    width: 55%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-2-cid {
    height: 0.2rem;
    width: 47%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-3-cid {
    height: 0.2rem;
    width: 35%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-4-cid {
    height: 0.2rem;
    width: 35%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-1-mov {
    height: 0.2rem;
    width: 76%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-2-mov {
    height: 0.2rem;
    width: 27%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-3-mov {
    height: 0.2rem;
    width: 49%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-1-pol {
    height: 0.2rem;
    width: 51%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-2-pol {
    height: 0.2rem;
    width: 41%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-3-pol {
    height: 0.2rem;
    width: 38%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-1-rev {
    height: 0.2rem;
    width: 57%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-2-rev {
    height: 0.2rem;
    width: 57%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-3-rev {
    height: 0.2rem;
    width: 37%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-1-soc {
    height: 0.2rem;
    width: 93%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-2-soc {
    height: 0.2rem;
    width: 75%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-1-teo {
    height: 0.2rem;
    width: 47%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
    margin-bottom: 2rem;
  }

  #line-text-2-teo {
    height: 0.2rem;
    width: 48%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
    margin-top: 4rem;
    width: 100%;
  }

  .content-intro {
    width: 65%;
    margin-left: 4rem;
  }

  .intro-img {
    width: 30%;
    margin: 2rem 0;
    justify-content: center;
  }

  .PT-img {
    width: 15rem;
    height: 15rem;
  }

  .line-intro {
    width: 80%;
  }

  .cultura,
  .cidadania,
  .movimentos-sociais,
  .politica,
  .revolucao,
  .sociedade-contemporanea,
  .teoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .container {
    width: 95%;
    padding: 0 1rem;
  }

  .content {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}