@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root{
  --cor-background: #fff;
  --color-icones: #fff;
  --color-linhaVertical: #fff;
  --color-fonteBranca: #fff;
  --color-header: #e30613;
  --color-linhaFooter: #e30613;
  --color-borderIMG: #9a1915;
  --color-corLinha: #9a1915;
  --color-footer: #9a1915;
  --color-menu: #9a1915;
  --color-abaCheck: #9a1915;
  --color-fontePreto: #000;
  --color-aba: #e0e0e0;
  --color-citacao: #5B5859;
}

body {
  background-color: #ffffffff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
}

/* início da header/ banner/ abas */

.sociologia-header {
  display: flex;
  color: var(--color-fonteBranca);
  justify-content: space-between;
  background-color: var(--color-header);
  padding: 1rem 0;
}

.logo-header {
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-header);
}

.section-img {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.img-content {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 5px solid var(--color-borderIMG);
}

.header-nav {
  list-style: none;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.links {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 60px;
  margin-right: 50px;

}

.links a {
  display: flex;
  color: var(--color-fonteBranca);
  font-size: 1.3rem;
  border-bottom: 3px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.vertical-line {
  height: 50px;
  width: 3px;
  background-color: var(--color-linhaVertical);
  margin: 0 20px;
  margin-right: 20px;
}

.logo-header {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-header);
  height: 50px;
}

#icones-header {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  color: var(--color-icones);
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: 5px;
}

#sesi-logo {
  margin: 0 40px;
}

.image-banner {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 45rem;
  filter: brightness(0.6);
}

.image-banner img {
  width: 100%;
  height: 100%;
}

#line {
  height: 5px;
  margin: 20px auto;
  width: 20%;
  background-color: var(--color-corLinha);
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  height: 50px;
  box-sizing: border-box;
}

#sesi-logo {
  margin-left: 10px;
  margin-right: 30px;
}

.header-nav .nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.img-content {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 5px solid var(--color-borderIMG);
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  height: 50px;
  box-sizing: border-box;
}

.alinhamento {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 200px;
  padding: 100px;
}
.topics-header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.aba-text {
  color: var(--color-fontePreto);
  text-align: center;
  justify-content: space-between;
}

.aba-item {
  background-color: var(--color-aba);
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.aba-text a,
.aba-item {
  width: 100%;
  color: var(--color-fonteBranca);
}

.aba-text-check {
  color: var(--color-fonteBranca);
  text-align: center;
}
.aba-item-check{
  background-color: var(--color-abaCheck);
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 100%;
}



.aba-item:hover,
.aba-item:hover a {
  background-color: var(--color-abaCheck);
  color: var(--color-fonteBranca);
}


/* final da header/ banner/ abas */

/* início do conteúdo tópicos */

.intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
  margin-top: 30px;
}

.content {
  margin-top: 60px;
  margin-left: 70px;
  margin-bottom: 80px
}

.intro-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PT-img {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
  margin-right: 140px;
  margin-top: 100px;
}

.line-intro {
  height: 5px;
  margin: 20px auto;
  width: 85%;
  background-color: var(--color-corLinha);
  margin-top: 5%;
  margin-bottom: 3%;
}

.titulo-PT {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
  color: var(--color-fontePreto);
  display: flex;
  white-space: nowrap;
}

.text-PT {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 30px;
  font-size: large;
  color: var(--color-fontePreto);
  text-align: justify;
  width: 80%;
}

.text-PT b {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-top: 30px;
  font-size: x-large;
  color: var(--color-fontePreto);
  text-align: justify;
  width: 80%;
}

.citacao {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-top: 30px;
  font-size: large;
  color: var(--color-citacao);
  text-align: justify;
  width: 80%;
}

#line-text-1-cul {
  height: 0.2rem;
  width: 32%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-2-cul {
  height: 0.2rem;
  width: 31%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-3-cul {
  height: 0.2rem;
  width: 31%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-4-cul {
  height: 0.2rem;
  width: 19%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-1-cid {
  height: 0.2rem;
  width: 35%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-2-cid {
  height: 0.2rem;
  width: 33%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-3-cid {
  height: 0.2rem;
  width: 25%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-4-cid {
  height: 0.2rem;
  width: 25%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-1-mov {
  height: 0.2rem;
  width: 49%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-2-mov {
  height: 0.2rem;
  width: 19%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-3-mov {
  height: 0.2rem;
  width: 35%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-1-pol {
  height: 0.2rem;
  width: 32%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-2-pol {
  height: 0.2rem;
  width: 29%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-3-pol {
  height: 0.2rem;
  width: 27%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-1-rev {
  height: 0.2rem;
  width: 36%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-2-rev {
  height: 0.2rem;
  width: 40%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-3-rev {
  height: 0.2rem;
  width: 26%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-1-soc {
  height: 0.2rem;
  width: 59%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-2-soc {
  height: 0.2rem;
  width: 54%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-1-teo {
  height: 0.2rem;
  width: 30%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-2-teo {
  height: 0.2rem;
  width: 34%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

/* final do conteúdo tópicos */

/* início do footer */

.footer-text {
  color: var(--color-fonteBranca);
}

.footer {
  background-color: var(--color-footer);
  color: var(--color-fonteBranca);
  margin-top: 50px;
}

.footer .icones {
  background-color: var(--color-linhaFooter);
}

.senai {
  width: 20%;
  display: inline-block;
  text-align: center;
  padding: 30px 0 20px 0;
  margin-left: 29%;
}

.senai h3 {
  text-align: left;
}

.senai p {
  text-align: left;
}

.sesi {
  width: 20%;
  display: inline-block;
  margin-left: 3%;
  text-align: center;
  padding: 0 0 20px 0px;
}

.sesi h3 {
  text-align: left;
}

.sesi p {
  text-align: left;
}

.footer .icones img {
  display: inline-block;
  margin-left: 25px;
}

.icones {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* final do footer */