@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --cor-background: #fff;
  --color-icones: #fff;
  --color-linhaVertical: #fff;
  --color-fonteBranca: #fff;
  --color-header: #e30613;
  --color-linhaFooter: #e30613;
  --color-borderIMG: #9a1915;
  --color-corLinha: #9a1915;
  --color-footer: #9a1915;
  --color-menu: #9a1915;
  --color-abaCheck: #9a1915;
  --color-fontePreto: #000;
  --color-aba: #e0e0e0;
  --color-citacao: #5B5859;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #ffffffff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
}

/* início do conteúdo tópicos */

.intro {
  display: flex;
  margin: 30px 0;
  width: 100%;
}

.content-intro {
  width: 60%;
  margin-left: 4.375rem;
  margin-top: 3rem;
}

.cultura {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 2rem;
  margin-left: 4.375rem;
}

.content {
  margin-bottom: 4rem;
}

.cidadania {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 2rem;
  margin-left: 4.375rem;
}

.movimentos-sociais {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 2rem;
  margin-left: 4.375rem;
}

.politica {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 2rem;
  margin-left: 4.375rem;
}

.revolucao {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 2rem;
  margin-left: 4.375rem;
}

.sociedade-contemporanea {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 2rem;
  margin-left: 4.375rem;
}

.teorias {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 2rem;
  margin-left: 4.375rem;
}

/* Imagem */

.intro-img {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 0;
  margin-top: 3rem;
}

.PT-img {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20rem;
}

/* Linha Central */

.line-intro {
  height: 5px;
  margin: 20px auto;
  width: 85%;
  background-color: var(--color-corLinha);
  margin-top: 10%;
  margin-bottom: 3%;
}

/* Textos */

.titulo-PT {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
  color: var(--color-fontePreto);
  display: flex;
  white-space: nowrap;
}

.text-PT {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 30px;
  font-size: 1.2rem;
  color: var(--color-fontePreto);
  text-align: justify;
}

/* Linhas */

#line-text-1-cul {
  height: 0.2rem;
  width: 32%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-2-cul {
  height: 0.2rem;
  width: 31%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-3-cul {
  height: 0.2rem;
  width: 31%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-4-cul {
  height: 0.2rem;
  width: 19%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-1-cid {
  height: 0.2rem;
  width: 35%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-2-cid {
  height: 0.2rem;
  width: 33%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-3-cid {
  height: 0.2rem;
  width: 25%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-4-cid {
  height: 0.2rem;
  width: 25%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-1-mov {
  height: 0.2rem;
  width: 49%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-2-mov {
  height: 0.2rem;
  width: 19%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-3-mov {
  height: 0.2rem;
  width: 35%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-1-pol {
  height: 0.2rem;
  width: 32%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-2-pol {
  height: 0.2rem;
  width: 29%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-3-pol {
  height: 0.2rem;
  width: 27%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-1-rev {
  height: 0.2rem;
  width: 36%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-2-rev {
  height: 0.2rem;
  width: 40%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-3-rev {
  height: 0.2rem;
  width: 26%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-1-soc {
  height: 0.2rem;
  width: 59%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-2-soc {
  height: 0.2rem;
  width: 54%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-1-teo {
  height: 0.2rem;
  width: 30%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

#line-text-2-teo {
  height: 0.2rem;
  width: 34%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
}

/* final do conteúdo tópicos */

/* Responsividade: Tablet */

@media screen and (max-width: 768px) and (max-width: 1023px) {
  .intro {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    width: 100%;
  }

  .content-intro {
    width: 100%;
    margin-left: 2rem;
    margin-top: 3rem;
  }

  .content {
    margin-bottom: 4rem;
    margin-top: 2rem;
    width: 100%;
  }

  .cultura {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 2rem;
  }

  .cidadania {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 2rem;
  }

  .movimentos-sociais {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 2rem;
  }

  .politica {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 2rem;
  }

  .revolucao {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 2rem;
  }

  .sociedade-contemporanea {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 2rem;
  }

  .teorias {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 2rem;
  }

  /* Imagem */

  .intro-img {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    margin-left: 9rem;
  }

  .PT-img {
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20rem;
  }

  /* Linha Central */

  .line-intro {
    height: 5px;
    margin: 20px auto;
    width: 85%;
    background-color: var(--color-corLinha);
    margin-top: 40%;
    margin-bottom: 3%;
  }

  /* Textos */

  .titulo-PT {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: var(--color-fontePreto);
    white-space: nowrap;
  }

  .text-PT {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: var(--color-fontePreto);
    text-align: justify;
    width: 90%;
    word-spacing: 0.1em;
    text-align-last: left;
  }

  /* Linhas */

  #line-text-1-cul {
    height: 0.2rem;
    width: 57%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-2-cul {
    height: 0.2rem;
    width: 73%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-3-cul {
    height: 0.2rem;
    width: 74%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-4-cul {
    height: 0.2rem;
    width: 45%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-1-cid {
    height: 0.2rem;
    width: 62%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-2-cid {
    height: 0.2rem;
    width: 79%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-3-cid {
    height: 0.2rem;
    width: 59%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-4-cid {
    height: 0.2rem;
    width: 58%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-1-mov {
    height: 0.2rem;
    width: 86%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-2-mov {
    height: 0.2rem;
    width: 44%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-3-mov {
    height: 0.2rem;
    width: 82%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-1-pol {
    height: 0.2rem;
    width: 57%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-2-pol {
    height: 0.2rem;
    width: 29%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-3-pol {
    height: 0.2rem;
    width: 27%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-1-rev {
    height: 0.2rem;
    width: 36%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-2-rev {
    height: 0.2rem;
    width: 40%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-3-rev {
    height: 0.2rem;
    width: 26%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-1-soc {
    height: 0.2rem;
    width: 59%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-2-soc {
    height: 0.2rem;
    width: 54%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-1-teo {
    height: 0.2rem;
    width: 30%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }

  #line-text-2-teo {
    height: 0.2rem;
    width: 34%;
    background-color: var(--color-corLinha);
    margin-left: 0.1rem;
  }
}

/* Responsividade: Celular */

@media screen and (max-width: 767px) {
  .intro {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1.875rem;
    background-color: #d6adab;
  }

  .content-intro {
    max-width: 100%;
    margin-bottom: 3.125rem;
  }

  .content {
    margin-top: 3.75rem;
  }

  .cultura{
    max-width: 100%;
    margin-bottom: 1.875rem;
    background-color: #d6adab;
  }

  /* Imagem */

  .intro-img {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
  }

  .PT-img {
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20rem;
  }

  /* Linha Central */

  #line{
    height: 0.313rem;
    margin: 3rem;
    width: 80%;
    background-color: var(--color-corLinha);
  }

  .line-intro {
    height: 0.313rem;
    margin: 3rem;
    width: 80%;
    background-color: var(--color-corLinha);
    margin-top: 70%;
    margin-bottom: 3%;
  }

  /* Textos */

  .titulo-PT {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #000000;
    /* background-color: #e30613 */
  }

  .text-PT {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: justify;
    width: 90%;
    word-spacing: 0.1em; 
    text-align-last: left;
  }
}