@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #ffffffff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
}

.sociologia-header {
  display: flex;
  color: #ffffffff;
  justify-content: space-between;
  background-color: #e30613;
  padding: 1rem 0;
}

.logo-header {
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #e30613;
}

.section-img {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.header-nav {
  list-style: none;
  margin: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.links {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 4rem;
  margin-right: 3rem;

}

.links a {
  display: flex;
  color: #ffffff;
  font-size: 1.3rem;
  border-bottom: 0.2rem solid transparent;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.vertical-line {
  height: 3rem;
  width: 0.2rem;
  background-color: #ffff;
  margin: 0.1rem;
}

.logo-header {
  margin: 0.2rem;
  display: flex;
  justify-content: space-between;
  background-color: #e30613;
  height: 3rem;
}

#icones-header {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  color: #ffffffff;
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: 0.5rem;
}

#sesi-logo {
  margin: 0 40px;
}

.image-banner{
  position: relative;
  display: inline-block;  
  width: 100%;
  height: 45rem;
  overflow: hidden;
}

.image-banner img{
  width: 100%; 
  height: 100%; 
}

#line {
  height: 0.3rem;
  margin: 1rem auto;
  width: 20%;
  background-color: #9A1915;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  height: 3rem;
  box-sizing: border-box;
}

#sesi-logo {
  margin-left: 0.5rem;
  margin-right: 2rem;
}

.header-nav .nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.topics-header {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
  }
  
  .aba-text {
    background-color: #ffffff00;
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: space-between;
    padding-left: 50px ;
  }
  
  .aba-item {
    background-color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    outline: none;
    width: 250px;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    list-style: none;
    width: 100%;
  }

  .aba-text a, .aba-item {
    width: 100%;
    color: rgb(255, 255, 255);
  }
  
  .aba-text-check {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-left: 70px;
  }
  
  .aba-item-check {
    background-color: #9A1915;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    width: 250px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    list-style: none;
  }

  .aba-item:hover, .aba-item:hover a{
    background-color: #9A1915;
    color: #ffffff;
}


  .footer {
    background-color: #9a1915;
    color: white;
    margin-top: 50px;
  }
  
  .footer .icones {
    background-color: #e30613;
  }
  
  .senai {
    width: 20%;
    display: inline-block;
    text-align: center;
    padding: 30px 0 20px 0;
    margin-left: 29%;
  }
  
  .senai h3 {
    text-align: left;
  }
  
  .senai p {
    text-align: left;
  }
  
  .sesi {
    width: 20%;
    display: inline-block;
    margin-left: 3%;
    text-align: center;
    padding: 0 0 20px 0px;
  }
  
  .sesi h3 {
    text-align: left;
  }
  
  .sesi p {
    text-align: left;
  }
  
  .footer .icones img {
    display: inline-block;
    margin-left: 25px;
  }
  
  .icones {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-text {
    background-color: #9a1915;
    color: white;
  }
  
  .main-content{
    justify-content: center;
    display: flex;
  }
  
  .section-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .img {
    width: 25%;
    margin-bottom: 300px;
    align-items: center;
  }
  
  .img:nth-child(4n+1) {
    margin-left: 0;
  }
  
  .img:nth-child(4n) {
    margin-right: 0;
  }
  
  .img-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: x-large;
    text-align: center;
    color: #000000;
  }
  
  .principaisTopicos {
    margin-left: 4%;
    margin-bottom: 5%;
  }
  
  #line-text-3 {
    height: 5px;
    width: 21%;
    background-color: #9A1915;
    margin-left: 1px;
  }

    @media screen and (max-width: 768px) {
  .banner{
    height: auto;
    width: 100%; 
  }
  .sociologia-header{
    width: 100%;
  }
  .links{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 60%;
  }
  .logo-header{
    width: 30%;
  }
  .topics-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    gap: 6px;
  }
  .overlay{
    display: none;
  }

  }
  @media screen and (max-width: 1270px) {
    .banner{
      height: auto;
      width: 100%; 
    }
    .sociologia-header{
      width: 100%;
    }
    .overlay{ 
      display: none;
    }
  }