@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --cor-background: #fff;
  --color-icones: #fff;
  --color-linhaVertical: #fff;
  --color-fonteBranca: #fff;
  --color-header: #e30613;
  --color-linhaFooter: #e30613;
  --color-borderIMG: #9a1915;
  --color-corLinha: #9a1915;
  --color-footer: #9a1915;
  --color-menu: #9a1915;
  --color-abaCheck: #9a1915;
  --color-fontePreto: #000;
  --color-aba: #e0e0e0;
  --color-quadroSimulados: #c2c2c281;
  --cor-link: #2cc3ff;
  --cor-carrossel-p: #484848;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #ffffffff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
}

/* início da header/ banner/ abas */

.sociologia-header {
  display: flex;
  color: var(--color-fonteBranca);
  justify-content: space-between;
  background-color: var(--color-header);
  padding: 1rem;
}

.logo-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-header);
}

.header-nav {
  list-style: none;
  margin: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 3rem;
  margin-right: 4rem;
}

.links a {
  display: flex;
  color: var(--color-fonteBranca);
  font-size: 1.3rem;
  border-bottom: 	0.19rem solid transparent;
  border-radius: 0.19rem ;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.vertical-line {
  height: 3rem;
  width: 0.19rem;
  background-color: var(--color-linhaVertical);
  margin: 0 1.3rem;
  margin-right: 2rem;
}

.logo-header {
  margin: 0 3rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-header);
  height: 3rem;
}

#icones-header {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  color: var(--color-icones);
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: 0.3rem;
}

#sesi-logo {
  margin: 0 3rem;
}

.image-banner {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 45rem;
  filter: brightness(0.6);
}

.image-banner img {
  width: 100%;
  height: 100%;
}

#line {
  height: 0.3rem;
  margin: 1.3rem auto;
  width: 20%;
  background-color: var(--color-corLinha);
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.6rem;
  height: 3rem;
  box-sizing: border-box;
}

#sesi-logo {
  margin-left: 1rem;
  margin-right: 1.9rem;
}

.header-nav .nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.img-content {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  border: 5px solid var(--color-borderIMG);
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.6rem;
  height: 3rem;
  box-sizing: border-box;
}

.topics-header {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.aba-text {
  color: var(--color-fontePreto);
  text-align: center;
  justify-content: space-between;
}

.aba-item {
  background-color: var(--color-aba);
  border: none;
  padding: 0.6rem 1.3rem;
  margin: 0 0.6rem;
  border-radius: 1.3rem;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  outline: none;
  width: 8rem;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  list-style: none;
  width: 100%;
}

.aba-text a,
.aba-item {
  width: 100%;
  color: var(--color-fonteBranca);
}

.aba-text-check {
  color: var(--color-fonteBranca);
  text-align: center;
}

.aba-item-check {
  background-color: var(--color-abaCheck);
  border: none;
  padding: 0.6rem 1.3rem;
  margin: 0 0.6rem;
  border-radius: 1.3rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  width: 8rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  list-style: none;
  width: 100%;
}

.aba-item:hover,
.aba-item:hover * {
  background-color: var(--color-abaCheck);
  color: var(--color-fonteBranca);
}

/* final da header/ banner/ abas */


/* menu-mobile */

.menu-mobile ul {
  background-color: var(--color-menu);
  backdrop-filter: blur(0.5rem);
  position: absolute;
  top: 5rem;
  right: 0;
  width: 25rem;
  max-height: 0;
  transition: max-height 1s ease, visibility 1s ease;
  visibility: hidden;
  overflow: hidden;
  margin-right: 0;
  z-index: 4;
  display: inline;
  flex-direction: column;
  gap: 0.5rem;
}

.menu-mobile.abrir ul {
  visibility: visible;
  max-height: 31.25rem;
}

.menu-mobile ul li:hover {
  background-color: #000000c4;
}

.menu-mobile ul .menu-title:hover {
  background-color: var(--color-menu);
}

.menu-mobile ul li {
  display: flex;
  padding: 10px 30px;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
}

.menu-mobile ul .sociologia{
  width: 25rem;
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.menu-mobile ul li div{
  width: 22rem;
  display: block;
}

.menu-mobile ul .sociologia div{
  width: 22rem;
  display: block;
  border-bottom: 0 solid #ffffff;
}

.menu-mobile ul li a {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: left;
  color: var(--color-fonteBranca);
  text-decoration: none;
  border-bottom: 0.3px solid #ffffff;
  font-weight: bold;
  font-size: 1rem;
}

.menu-mobile ul li div h1 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  border-bottom: 1px solid #ffffff;
}

.menu-mobile ul li .materias{
  width: 12rem;
}

#btn-menu {
  width: 2.5rem;
  height: 2.5rem;
  border: 0px solid #ff0000;
  background: transparent;
  border-radius: 10px;
  right: 1.9rem;
  top: 1.3rem;
  cursor: pointer;
  margin-right: 4rem;
  margin-bottom: 0.3rem;
}

.linha {
  width: 2.5rem;
  height: 0.2rem;
  background-color: #ffffff;
  display: flex;
  margin: 10px auto;
  position: relative;
  transform-origin: center;
  transition: .2s;
}

#btn-menu.ativo .linha:nth-child(1) {
  transform: translateY(12px) rotate(-45deg);
  background-color: #ffffff;
}

#btn-menu.ativo .linha:nth-child(3) {
  transform: translateY(-15px) rotate(45deg);
  background-color: #ffffff;
}

#btn-menu.ativo .linha:nth-child(2) {
  width: 0;
}

#menu-materias {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrow{
  width: 1rem;
  height: 1rem;
  z-index: 10;
  transform: rotate(90deg);
  transition: .3s;
}

.btn-menu2:hover{
  background-color: #000;
}

#btn-menu2.ativado .arrow{
  transform: rotate(0deg) ;
}

#btn-menu2 {
  height: 10px;
  border: 0px solid #ff0000;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

#menu-menu ul {
  position: absolute;
  right: 0;
  top: 36.34rem;
  background-color: var(--color-menu);
  z-index: 5;
  width: 25rem;
  max-height: 0;
  transition: max-height 0.5s ease, visibility 1s ease;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  overflow: hidden;
  list-style: none;
  justify-content: left;
  gap: 0.5rem;
}

.menu-menu ul li {
  display: block;
  padding: 6px ;
  font-size: 1rem;
}

.menu-menu ul li div{
  display: block;
  width: 22rem;
}

.menu-menu ul li a {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: left;
  color: var(--color-fonteBranca);
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
  font-weight: 600;
}

#menu-menu a {
  margin-left: 2.5rem;
  text-decoration: none;
  color: #e0e0e0;
  border-bottom: 1px solid #ffffff;
  font-size: 0.9rem;
}

#menu-menu.aberto ul {
  visibility: visible;
  max-height: 30.25rem;
}

.video-aula{
  margin-bottom: 1rem;
}
/* fim menu mobile */

/* inicio do conteudo */

.main-div-header{
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  padding: 10rem;
}


.div-ajuste{
  display: flex;
  flex-direction:column;
  gap: 20px;
}

.div-filho-1{
  display: flex;
  flex-direction: row;
  gap: 20px;
}



.img-professor{
  margin-top: 6.25rem;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

#line-text-01 {
  height: 0.3rem;
  width: 13%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem 0;
}
#line-text-02{
  height: 0.3rem;
  width: 19%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
  margin: 1.5rem 0;
}

.texto-1{
  display: flex;
  align-items: center;
  text-align: justify;
  padding: auto;
  width: 50%;
}

.video-esq{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10rem;
}
.iframe{
  width: 100%;
}

.video-dir{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10rem;
}
.text-just{
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 60%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
}

.div-itens{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.div-itens h2{
  font-size: 40px;
}

#line-experiencia{
  height: 0.3rem;
  width: 60%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
  margin: 1.5rem 0;
}

#line-vestibular{
  height: 0.3rem;
  width: 67%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
  margin: 1.5rem 0;
}

#line-evolucao{
  height: 0.3rem;
  width: 39%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
  margin: 1.5rem 0;
}

#line-estudo{
  height: 0.3rem;
  width: 55%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
  margin: 1.5rem 0;
}

#line-problemas{
  height: 0.3rem;
  width: 74%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
  margin: 1.5rem 0;
}

#line-resumo{
  height: 0.3rem;
  width: 68%;
  background-color: var(--color-corLinha);
  margin-left: 0.2rem;
  margin: 1.5rem 0;
}

.h3-p{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  align-items: flex-end;
}

.titulo-video-dir{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  align-items: flex-end;
}

/* início do footer*/

.footer-text {
  color: var(--color-fonteBranca);
}

.footer {
  background-color: var(--color-footer);
  color: var(--color-fonteBranca);
  margin-top: 50px;
}

.footer .icones {
  background-color: var(--color-linhaFooter);
}

.senai {
  width: 20%;
  display: inline-block;
  text-align: center;
  padding: 30px 0 20px 0;
  margin-left: 29%;
}

.senai h3 {
  text-align: left;
}

.senai p {
  text-align: left;
}

.sesi {
  width: 20%;
  display: inline-block;
  margin-left: 3%;
  text-align: center;
  padding: 0 0 20px 0px;
}

.sesi h3 {
  text-align: left;
}

.sesi p {
  text-align: left;
}

.footer .icones img {
  display: inline-block;
  margin-left: 25px;
}

.icones {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* final do footer */



  @media screen and (max-width: 767px) {
    .sociologia-header{
      width: 100%;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 0rem;
      padding: 1rem;
    }
    .vertical-line{
      display: none;
    }
    .logo-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 100%;
    }
    .logo-header img{
      max-width: 100%;
      max-width: 150px;
      height: auto;
      margin: 0;
    }
    .header-nav{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
    }
    .image-banner{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .image-banner img{
      width: 100%;
      height: auto;
    }

    .links p {
      font-size: 1rem;
    }
    .links{
      gap: 30px;
    }
    .topics-header{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      
    }
    .aba-text{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    .main-div-header{
      flex-direction: column-reverse;
      gap: 10px;
      padding: 2rem;
    }
    .div-ajuste{
      gap: 10px;
    }
    .div-filho-1{
      flex-direction: column;
      gap: 10px;
    }
    .video-dir,
    .video-esq{
      flex-direction: column;
      width: 100%;
      padding: 2rem;
    }

    .text-just{
      display: flex;
      flex-direction: column;
      text-align: justify;
      width: 100%;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 1.1rem;
      margin-bottom: 3rem;
    }
    .texto-1{
      display: flex;
      align-items: center;
      text-align: justify;
      padding: auto;
      width: 100%;
    }

    .img-professor{
      margin-top: 2rem;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    #line-text-01{
      width: 50%;
    }
    #line-text-02{
      width: 60%;
    }
    .h3-p{
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: right;
      align-items: flex-start;
    }

    .titulo-video-dir{
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: left;
      align-items: flex-start;
    }
  }

  @media screen and (min-width:  768px) and (max-width: 1023px){
    .sociologia-header{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .logo-header{
      display: flex;
      gap: 0px;
    }
    .logo-header img{
      max-width: 100%;
      max-width: 150px;
      height: auto;
      margin: 0;
    }
    .vertical-line{
      display: none;
    }
    .links p {
      font-size: 1rem;
    }
    .main-div-header{
      flex-direction: column-reverse;
      gap: 10px;
      padding: 2rem;
    }
    .topics-header{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    .div-ajuste{
      gap: 10px;
      align-items: center;
    }
    .div-filho-1{
      flex-direction: column;
      gap: 10px;
    }
    .titulo-001{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .img-professor{
      margin-top: 2rem;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    .video-dir,
    .video-esq{
      flex-direction: column;
      width: 100%;
      padding: 2rem;
    }

    .text-just{
      display: flex;
      flex-direction: column;
      text-align: justify;
      width: 100%;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 1.1rem;
      margin-bottom: 3rem;
    }
    .texto-1{
      display: flex;
      align-items: center;
      text-align: justify;
      padding: auto;
      width: 100%;
    }
    .line-text-01{
      width: 50%;
    }
    #line-text-02{
      width: 60%;
    }
    .h3-p{
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: right;
      align-items: flex-start;
    }

    .titulo-video-dir{
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: left;
      align-items: flex-start;
    }
    #line-experiencia{
      height: 0.3rem;
      width: 80%;
      background-color: var(--color-corLinha);
      margin-left: 0.2rem;
      margin: 1.5rem 0;
    }
    
    #line-vestibular{
      height: 0.3rem;
      width: 87%;
      background-color: var(--color-corLinha);
      margin-left: 0.2rem;
      margin: 1.5rem 0;
    }
    
    #line-evolucao{
      height: 0.3rem;
      width: 50%;
      background-color: var(--color-corLinha);
      margin-left: 0.2rem;
      margin: 1.5rem 0;
    }
    
    #line-estudo{
      height: 0.3rem;
      width: 55%;
      background-color: var(--color-corLinha);
      margin-left: 0.2rem;
      margin: 1.5rem 0;
    }
    
    #line-problemas{
      height: 0.3rem;
      width: 97%;
      background-color: var(--color-corLinha);
      margin-left: 0.2rem;
      margin: 1.5rem 0;
    }
    
    #line-resumo{
      height: 0.3rem;
      width: 68%;
      background-color: var(--color-corLinha);
      margin-left: 0.2rem;
      margin: 1.5rem 0;
    }
  }