@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #ffffffff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
}

/* início da header/ banner/ abas */

.sociologia-header {
  display: flex;
  color: #ffffffff;
  justify-content: space-between;
  background-color: #e30613;
  padding: 1rem 0;
}

.section-img {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.header-nav {
  list-style: none;
  margin: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.links {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 4rem;
  margin-right: 3rem;

}

.links a {
  display: flex;
  color: #ffffff;
  font-size: 1.3rem;
  border-bottom: 0.2rem solid transparent;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.vertical-line {
  height: 3rem;
  width: 0.2rem;
  background-color: #ffff;
  margin: 0.1rem;
}

.logo-header {
  margin: 0.2rem;
  display: flex;
  justify-content: space-between;
  background-color: #e30613;
  height: 3rem;
}

#icones-header {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  color: #ffffffff;
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: 0.5rem;
}

.image-banner {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 45rem;
  overflow: hidden;
}

.image-banner img {
  width: 100%;
  height: 100%;
}

#line {
  height: 0.3rem;
  margin: 1rem auto;
  width: 20%;
  background-color: #9A1915;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  height: 3rem;
  box-sizing: border-box;
}

#sesi-logo {
  margin-left: 3rem;
  margin-right: 2rem;
}

.header-nav .nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.topics-header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;

}

.aba-text {
  background-color: #ffffff00;
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: space-between;
  padding-left: 50px;
}

.aba-text-home {
  color: rgb(0, 0, 0);
  padding-left: 2rem;
}

.aba-item {
  background-color: #9A1915;
  background-color: #e0e0e0;
  color: #333;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6rem;
  margin: 0 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  width: 15rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  list-style: none;
  width: 100%;
}

.aba-text a,
.aba-item {
  width: 100%;
  color: rgb(255, 255, 255);
}

.aba-text-check {
  color: rgb(255, 255, 255);
  text-align: center;
  padding-left: 3.2rem;
  margin-top: 0.5rem;
}

.aba-item-check {
  background-color: #9A1915;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6rem;
  margin: 0 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  width: 15rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  list-style: none;
}

.aba-item:hover,
.aba-item:hover a {
  background-color: #9A1915;
  color: #ffffff;
}

.aba-text-home{
  background-color: #ffffff00;
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: space-between;
  padding-left: 4.6rem;
}


/* final da header/ banner/ abas */

/* início do footer*/

.footer {
  background-color: #9a1915;
  color: white;
  margin-top: 3.15rem;
}

.footer .icones {
  background-color: #e30613;
}

.senai {
  width: 20%;
  display: inline-block;
  text-align: center;
  padding: 1.8rem 0 1.25rem 0;
  margin-left: 29%;
}

.senai h3 {
  text-align: left;
}

.senai p {
  text-align: left;
}

.sesi {
  width: 20%;
  display: inline-block;
  margin-left: 3%;
  text-align: center;
  padding: 0 0 1.25rem 0rem;
}

.footer .icones img {
  display: inline-block;
  margin-left: 1.4rem;
}

.icones {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  background-color: #9a1915;
  color: white;
}

/* final do footer */

@media screen and (max-width: 500px) {
  .sociologia-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .vertical-line {
    display: none;
  }

  .logo-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
  }

  .header-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }


  .image-banner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .links a {
    font-size: 1rem;
  }

  .links {
    gap: 30px;
  }

  .topics-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

  }

  .aba-item a {
    text-align: center;
    font-size: 1rem;
  }

  .aba-text {
    text-align: center;
  }
}